<!DOCTYPE html>
<html lang="en" ng-app="myModule">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://code.angularjs.org/1.8.2/angular.min.js"></script>
    <script src="./app.js"></script>
  </head>
  <body>
    <div style="width: 50%; margin: 1rem" ng-controller="myController">
      <button id="top" ng-click="scrollTo('bottom')">Go to bottom</button>
      <br />
      <br />
      <div style="border: 1px solid #333; padding: 1rem">
        <h1>Lorem</h1>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab culpa
          facere, nostrum cumque modi nobis dolore voluptas? Omnis doloribus
          ratione natus neque laborum impedit, nisi quo quae sequi, itaque
          soluta. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Explicabo architecto voluptatibus nisi quis consequuntur, eveniet
          sint. Repellendus nisi necessitatibus vel placeat, eum, asperiores
          tenetur velit perferendis, modi consequuntur animi dicta. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Sed, laboriosam iure
          provident sequi ex id. Pariatur quam eius, quia, ab ipsum tenetur
          nulla velit rem soluta temporibus dicta ipsam vero. Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Architecto dolorem sed dolorum
          amet neque a officia repellat, optio deserunt sequi unde obcaecati
          dolores nemo odit facere alias asperiores iure quisquam. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Eveniet blanditiis
          laboriosam incidunt nihil, architecto ipsa excepturi asperiores nulla?
          Reprehenderit at facere doloribus distinctio officia expedita
          accusamus id nihil hic sunt?
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab culpa
          facere, nostrum cumque modi nobis dolore voluptas? Omnis doloribus
          ratione natus neque laborum impedit, nisi quo quae sequi, itaque
          soluta. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Explicabo architecto voluptatibus nisi quis consequuntur, eveniet
          sint. Repellendus nisi necessitatibus vel placeat, eum, asperiores
          tenetur velit perferendis, modi consequuntur animi dicta. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Sed, laboriosam iure
          provident sequi ex id. Pariatur quam eius, quia, ab ipsum tenetur
          nulla velit rem soluta temporibus dicta ipsam vero. Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Architecto dolorem sed dolorum
          amet neque a officia repellat, optio deserunt sequi unde obcaecati
          dolores nemo odit facere alias asperiores iure quisquam. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Eveniet blanditiis
          laboriosam incidunt nihil, architecto ipsa excepturi asperiores nulla?
          Reprehenderit at facere doloribus distinctio officia expedita
          accusamus id nihil hic sunt?
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab culpa
          facere, nostrum cumque modi nobis dolore voluptas? Omnis doloribus
          ratione natus neque laborum impedit, nisi quo quae sequi, itaque
          soluta. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Explicabo architecto voluptatibus nisi quis consequuntur, eveniet
          sint. Repellendus nisi necessitatibus vel placeat, eum, asperiores
          tenetur velit perferendis, modi consequuntur animi dicta. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Sed, laboriosam iure
          provident sequi ex id. Pariatur quam eius, quia, ab ipsum tenetur
          nulla velit rem soluta temporibus dicta ipsam vero. Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Architecto dolorem sed dolorum
          amet neque a officia repellat, optio deserunt sequi unde obcaecati
          dolores nemo odit facere alias asperiores iure quisquam. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Eveniet blanditiis
          laboriosam incidunt nihil, architecto ipsa excepturi asperiores nulla?
          Reprehenderit at facere doloribus distinctio officia expedita
          accusamus id nihil hic sunt?
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab culpa
          facere, nostrum cumque modi nobis dolore voluptas? Omnis doloribus
          ratione natus neque laborum impedit, nisi quo quae sequi, itaque
          soluta. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Explicabo architecto voluptatibus nisi quis consequuntur, eveniet
          sint. Repellendus nisi necessitatibus vel placeat, eum, asperiores
          tenetur velit perferendis, modi consequuntur animi dicta. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Sed, laboriosam iure
          provident sequi ex id. Pariatur quam eius, quia, ab ipsum tenetur
          nulla velit rem soluta temporibus dicta ipsam vero. Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Architecto dolorem sed dolorum
          amet neque a officia repellat, optio deserunt sequi unde obcaecati
          dolores nemo odit facere alias asperiores iure quisquam. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Eveniet blanditiis
          laboriosam incidunt nihil, architecto ipsa excepturi asperiores nulla?
          Reprehenderit at facere doloribus distinctio officia expedita
          accusamus id nihil hic sunt?
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab culpa
          facere, nostrum cumque modi nobis dolore voluptas? Omnis doloribus
          ratione natus neque laborum impedit, nisi quo quae sequi, itaque
          soluta. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Explicabo architecto voluptatibus nisi quis consequuntur, eveniet
          sint. Repellendus nisi necessitatibus vel placeat, eum, asperiores
          tenetur velit perferendis, modi consequuntur animi dicta. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Sed, laboriosam iure
          provident sequi ex id. Pariatur quam eius, quia, ab ipsum tenetur
          nulla velit rem soluta temporibus dicta ipsam vero. Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Architecto dolorem sed dolorum
          amet neque a officia repellat, optio deserunt sequi unde obcaecati
          dolores nemo odit facere alias asperiores iure quisquam. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Eveniet blanditiis
          laboriosam incidunt nihil, architecto ipsa excepturi asperiores nulla?
          Reprehenderit at facere doloribus distinctio officia expedita
          accusamus id nihil hic sunt?
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab culpa
          facere, nostrum cumque modi nobis dolore voluptas? Omnis doloribus
          ratione natus neque laborum impedit, nisi quo quae sequi, itaque
          soluta. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Explicabo architecto voluptatibus nisi quis consequuntur, eveniet
          sint. Repellendus nisi necessitatibus vel placeat, eum, asperiores
          tenetur velit perferendis, modi consequuntur animi dicta. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Sed, laboriosam iure
          provident sequi ex id. Pariatur quam eius, quia, ab ipsum tenetur
          nulla velit rem soluta temporibus dicta ipsam vero. Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Architecto dolorem sed dolorum
          amet neque a officia repellat, optio deserunt sequi unde obcaecati
          dolores nemo odit facere alias asperiores iure quisquam. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Eveniet blanditiis
          laboriosam incidunt nihil, architecto ipsa excepturi asperiores nulla?
          Reprehenderit at facere doloribus distinctio officia expedita
          accusamus id nihil hic sunt?
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab culpa
          facere, nostrum cumque modi nobis dolore voluptas? Omnis doloribus
          ratione natus neque laborum impedit, nisi quo quae sequi, itaque
          soluta. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Explicabo architecto voluptatibus nisi quis consequuntur, eveniet
          sint. Repellendus nisi necessitatibus vel placeat, eum, asperiores
          tenetur velit perferendis, modi consequuntur animi dicta. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Sed, laboriosam iure
          provident sequi ex id. Pariatur quam eius, quia, ab ipsum tenetur
          nulla velit rem soluta temporibus dicta ipsam vero. Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Architecto dolorem sed dolorum
          amet neque a officia repellat, optio deserunt sequi unde obcaecati
          dolores nemo odit facere alias asperiores iure quisquam. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Eveniet blanditiis
          laboriosam incidunt nihil, architecto ipsa excepturi asperiores nulla?
          Reprehenderit at facere doloribus distinctio officia expedita
          accusamus id nihil hic sunt?
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab culpa
          facere, nostrum cumque modi nobis dolore voluptas? Omnis doloribus
          ratione natus neque laborum impedit, nisi quo quae sequi, itaque
          soluta. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Explicabo architecto voluptatibus nisi quis consequuntur, eveniet
          sint. Repellendus nisi necessitatibus vel placeat, eum, asperiores
          tenetur velit perferendis, modi consequuntur animi dicta. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Sed, laboriosam iure
          provident sequi ex id. Pariatur quam eius, quia, ab ipsum tenetur
          nulla velit rem soluta temporibus dicta ipsam vero. Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Architecto dolorem sed dolorum
          amet neque a officia repellat, optio deserunt sequi unde obcaecati
          dolores nemo odit facere alias asperiores iure quisquam. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Eveniet blanditiis
          laboriosam incidunt nihil, architecto ipsa excepturi asperiores nulla?
          Reprehenderit at facere doloribus distinctio officia expedita
          accusamus id nihil hic sunt?
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab culpa
          facere, nostrum cumque modi nobis dolore voluptas? Omnis doloribus
          ratione natus neque laborum impedit, nisi quo quae sequi, itaque
          soluta. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Explicabo architecto voluptatibus nisi quis consequuntur, eveniet
          sint. Repellendus nisi necessitatibus vel placeat, eum, asperiores
          tenetur velit perferendis, modi consequuntur animi dicta. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Sed, laboriosam iure
          provident sequi ex id. Pariatur quam eius, quia, ab ipsum tenetur
          nulla velit rem soluta temporibus dicta ipsam vero. Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Architecto dolorem sed dolorum
          amet neque a officia repellat, optio deserunt sequi unde obcaecati
          dolores nemo odit facere alias asperiores iure quisquam. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Eveniet blanditiis
          laboriosam incidunt nihil, architecto ipsa excepturi asperiores nulla?
          Reprehenderit at facere doloribus distinctio officia expedita
          accusamus id nihil hic sunt?
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab culpa
          facere, nostrum cumque modi nobis dolore voluptas? Omnis doloribus
          ratione natus neque laborum impedit, nisi quo quae sequi, itaque
          soluta. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Explicabo architecto voluptatibus nisi quis consequuntur, eveniet
          sint. Repellendus nisi necessitatibus vel placeat, eum, asperiores
          tenetur velit perferendis, modi consequuntur animi dicta. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Sed, laboriosam iure
          provident sequi ex id. Pariatur quam eius, quia, ab ipsum tenetur
          nulla velit rem soluta temporibus dicta ipsam vero. Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Architecto dolorem sed dolorum
          amet neque a officia repellat, optio deserunt sequi unde obcaecati
          dolores nemo odit facere alias asperiores iure quisquam. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Eveniet blanditiis
          laboriosam incidunt nihil, architecto ipsa excepturi asperiores nulla?
          Reprehenderit at facere doloribus distinctio officia expedita
          accusamus id nihil hic sunt?
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab culpa
          facere, nostrum cumque modi nobis dolore voluptas? Omnis doloribus
          ratione natus neque laborum impedit, nisi quo quae sequi, itaque
          soluta. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Explicabo architecto voluptatibus nisi quis consequuntur, eveniet
          sint. Repellendus nisi necessitatibus vel placeat, eum, asperiores
          tenetur velit perferendis, modi consequuntur animi dicta. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Sed, laboriosam iure
          provident sequi ex id. Pariatur quam eius, quia, ab ipsum tenetur
          nulla velit rem soluta temporibus dicta ipsam vero. Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Architecto dolorem sed dolorum
          amet neque a officia repellat, optio deserunt sequi unde obcaecati
          dolores nemo odit facere alias asperiores iure quisquam. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Eveniet blanditiis
          laboriosam incidunt nihil, architecto ipsa excepturi asperiores nulla?
          Reprehenderit at facere doloribus distinctio officia expedita
          accusamus id nihil hic sunt?
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab culpa
          facere, nostrum cumque modi nobis dolore voluptas? Omnis doloribus
          ratione natus neque laborum impedit, nisi quo quae sequi, itaque
          soluta. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Explicabo architecto voluptatibus nisi quis consequuntur, eveniet
          sint. Repellendus nisi necessitatibus vel placeat, eum, asperiores
          tenetur velit perferendis, modi consequuntur animi dicta. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Sed, laboriosam iure
          provident sequi ex id. Pariatur quam eius, quia, ab ipsum tenetur
          nulla velit rem soluta temporibus dicta ipsam vero. Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Architecto dolorem sed dolorum
          amet neque a officia repellat, optio deserunt sequi unde obcaecati
          dolores nemo odit facere alias asperiores iure quisquam. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Eveniet blanditiis
          laboriosam incidunt nihil, architecto ipsa excepturi asperiores nulla?
          Reprehenderit at facere doloribus distinctio officia expedita
          accusamus id nihil hic sunt?
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab culpa
          facere, nostrum cumque modi nobis dolore voluptas? Omnis doloribus
          ratione natus neque laborum impedit, nisi quo quae sequi, itaque
          soluta. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Explicabo architecto voluptatibus nisi quis consequuntur, eveniet
          sint. Repellendus nisi necessitatibus vel placeat, eum, asperiores
          tenetur velit perferendis, modi consequuntur animi dicta. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Sed, laboriosam iure
          provident sequi ex id. Pariatur quam eius, quia, ab ipsum tenetur
          nulla velit rem soluta temporibus dicta ipsam vero. Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Architecto dolorem sed dolorum
          amet neque a officia repellat, optio deserunt sequi unde obcaecati
          dolores nemo odit facere alias asperiores iure quisquam. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Eveniet blanditiis
          laboriosam incidunt nihil, architecto ipsa excepturi asperiores nulla?
          Reprehenderit at facere doloribus distinctio officia expedita
          accusamus id nihil hic sunt?
        </div>
      </div>

      <br />
      <button id="bottom" ng-click="scrollTo('top')">Go to top</button>
    </div>
  </body>
</html>
